.addbutton {
    margin: 0 5%;
    background-color: black !important;
    color: white !important;
    
  }
  
  .addbutton:hover {
    background-color: gray!important;
    /* color: rgb(15, 15, 15) !important; */
  }